<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.codebase.backend.project.mapper.BuypjMapper">

	<!-- 앞쪽 묶음이 테이블 컬럼, 뒤쪽 묶음 DTO필드 -->
	<insert id="save"
		parameterType="com.codebase.backend.project.dto.BuyPJ" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO buypj 
		(title, content, link, types, project_id, maker_id, buyer_id)
		VALUES
		(#{title},#{content},#{link},#{types},#{project_id},#{maker_id},#{buyer_id});
	</insert>
	
	<select id="findByBuyer"
		resultType="com.codebase.backend.project.dto.BuyPJ"
		parameterType="int">
		SELECT 
			title, 
			content, 
			link, 
			types,
			buyer_id
		FROM buypj
		WHERE buyer_id = #{buyer_id};
	</select>

	<select id="selectAll"
		resultType="com.codebase.backend.project.dto.BuyPJ">
		SELECT 
			title, 
			content, 
			link, 
			types,
			buyer_id
		 FROM buypj;
	</select>

	<select id="findById"
		resultType="com.codebase.backend.project.dto.BuyPJ"
		parameterType="int">
		SELECT 
			title, 
			content, 
			link, 
			types,
			buyer_id 
		FROM buypj
		WHERE id = #{id};
	</select>


	<delete id="deleteById" parameterType="int">
		DELETE FROM buypj
		WHERE id = #{id};
	</delete>


</mapper>