<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (name, email, password, role, addr, postcode, tel, createdAt, projectCount)
        VALUES (#{name}, #{email}, #{password}, #{role}, #{addr}, #{postcode}, #{tel}, #{createdAt}, #{projectCount})
    </insert>

    <update id="update" parameterType="member">
        UPDATE member
        SET name=#{name}, addr=#{addr}, postcode=#{postcode}, tel=#{tel}
        WHERE email=#{email} and id=#{id}
    </update>

    <select id="findByEmail" parameterType="String" resultType="member">
        SELECT *
        FROM member
        WHERE email = #{email}
    </select>
</mapper>