<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (name, email, password, role, addr, postcode, tel, createdAt, projectCount, cart_id)
        VALUES (#{name}, #{email}, #{password}, #{role}, #{addr}, #{postcode}, #{tel}, #{createdAt}, #{projectCount}, #{cart_id})
    </insert>

    <update id="update" parameterType="member">
        UPDATE member
        SET name=#{name}, addr=#{addr}, postcode=#{postcode}, tel=#{tel}
        WHERE email=#{email} and id=#{id}
    </update>

    <select id="findByEmail" parameterType="String" resultType="member">
        SELECT *
        FROM member
        WHERE email = #{email}
    </select>

    <!-- 관리자 페이지 신규 회원 수 차트에 사용 -->
    <select id="getWeeklyNewMemberCount" resultType="map">
        select DATE(createdAt) As joinDate, Count(id) As memberCount
        FROM member
        where createdAt >= CURDATE() - INTERVAL 6 DAY
        group by DATE(createdAt)
        order by createdAt
    </select>

</mapper>