<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codebase.backend.projectteam.mapper.TeamApplicationMapper">

    <resultMap id="TeamApplicationResultMap" type="com.codebase.backend.projectteam.dto.TeamApplicationDTO">
        <id property="application_id" column="application_id" />
        <result property="member_id" column="member_id"/>
        <result property="pjt_id" column="pjt_id"/>
        <result property="tech_stack" column="tech_stack" javaType="com.codebase.backend.projectteam.dto.TechStack" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="com.codebase.backend.projectteam.dto.Status" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertTeamApplication" parameterType="com.codebase.backend.projectteam.dto.TeamApplicationDTO" useGeneratedKeys="true" keyProperty="application_id">
        INSERT INTO team_application (member_id, pjt_id, tech_stack, status)
        VALUES (#{member_id}, #{pjt_id}, #{tech_stack}, #{status})
    </insert>

    <select id="selectTeamApplication" parameterType="Integer" resultMap="TeamApplicationResultMap">
        SELECT application_id, member_id, pjt_id, tech_stack, status
        FROM team_application
        WHERE application_id = #{application_id}
    </select>

    <update id="updateTeamApplication" parameterType="com.codebase.backend.projectteam.dto.TeamApplicationDTO">
        UPDATE team_application
        SET 
            member_id = #{member_id},
            pjt_id = #{pjt_id},
            tech_stack = #{tech_stack},
            status = #{status}
        WHERE application_id = #{application_id}
    </update>

    <delete id="deleteTeamApplication" parameterType="Integer">
        DELETE FROM team_application
        WHERE application_id = #{application_id}
    </delete>

    <!-- member_id로 팀 지원 정보 조회 -->
    <select id="getTeamApplicationsByMemberId" resultType="com.codebase.backend.projectteam.dto.TeamApplicationDTO">
        SELECT * FROM team_application 
        WHERE member_id = #{member_id}
    </select>

    <!-- member_id 존재 여부 확인 -->
    <select id="existsByMemberId" resultType="boolean">
        SELECT COUNT(*) > 0 
        FROM team_application 
        WHERE member_id = #{member_id}
    </select>

</mapper>

