<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/td/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.codebase.backend.member.dto.Member" alias="member"/>
    	  <typeAlias type="com.codebase.backend.admin.dto.Visitor" alias="visitor"/>
        <typeAlias type="com.codebase.backend.admin.dto.Report" alias="report"/>
        <typeAlias type="com.codebase.backend.chat.dto.Chatroom" alias="chatroom"/>
        <typeAlias type="com.codebase.backend.chat.dto.ChatMessage" alias="message"/>
        <typeAlias type="com.codebase.backend.chat.dto.MemberChatroomMapping" alias="memberchatroom"/>
    </typeAliases>
</configuration>